In [1]:
import pandas as pd

In [2]:
  # create a list of data
data=[1,2,34,5]

In [3]:
data

[1, 2, 34, 5]

In [4]:
type(data)

list

In [6]:
#  create series from the list
s=pd.Series(data)
s

0     1
1     2
2    34
3     5
dtype: int64

In [7]:
type(s)

pandas.core.series.Series

In [13]:
# Create a dataframe from series
df=pd.DataFrame(s,columns=['Number'],)
df

   Number
0       1
1       2
2      34
3       5