Dictonary to series And DATAFRAME

In [1]:
#crerate a dictionary 

data={

'name':['rahim','karim','janant'],
'Age':[22,34,33],
'city':['DHAKA','MYM','RAJ']



}

In [2]:
data

{'name': ['rahim', 'karim', 'janant'],
 'Age': [22, 34, 33],
 'city': ['DHAKA', 'MYM', 'RAJ']}

In [4]:
# create  a series from dictionary

import pandas as pd
name_series= pd.Series(data['name'],name='Name')
name_series

0     rahim
1     karim
2    janant
Name: Name, dtype: object

In [5]:
df=pd.DataFrame(data)
df

     name  Age   city
0   rahim   22  DHAKA
1   karim   34    MYM
2  janant   33    RAJ

In [6]:
age_series=df['Age']
age_series

0    22
1    34
2    33
Name: Age, dtype: int64