In [1]:
import pandas as pd

SET To Series and DATAFRAME

In [12]:
s={1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [13]:
type(s)

set

In [17]:
s1=pd.Series(list(s))
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
df=pd.DataFrame(s)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

Touple to Series and DATAFRAME

In [21]:
t=(1,2,3,4,56,True,False)
s=pd.Series(t)
s

0        1
1        2
2        3
3        4
4       56
5     True
6    False
dtype: object

In [22]:
df5=pd.DataFrame(t)
df5

       0
0      1
1      2
2      3
3      4
4     56
5   True
6  False